<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8" />
    <title>Запросы</title>
</head>
<body>
<form name="form" th:action="@{/generate}" th:object="${QueryForm}" method="GET">
    <p><b>Количество строк:</b><br>
        <input id="number" type="number" name="number">
    <p><b>Язык запросов:</b><br>
        <input type="radio" name="language" value="SQL" > SQL<Br>
        <input type="radio" name="language" value="1С" > 1C<Br>
    </p>
    <p><b>Таблица:</b><br>
        <input type="text" name="table"  />
    </p>
    <p><b>Поля:</b><br>
        <input type="button" name="name" value="Имя" onclick="document.form.attrs.value+=this.name+' '"/>
        <input type="button" name="family" value="Фамилия" onclick="document.form.attrs.value+=this.name+' '"/>
        <input type="button" name="patronymic" value="Отчество" onclick="document.form.attrs.value+=this.name+' '"/>
        <input type="button" name="address" value="Адрес" onclick="document.form.attrs.value+=this.name+' '"/>
        <input type="button" name="phone" value="Телефон" onclick="document.form.attrs.value+=this.name+' '"/>
        <input type="button" name="date" value="Дата" onclick="document.form.attrs.value+=this.name+' '"/>
        <input type="button" name="salary" value="Зарплата" onclick="document.form.attrs.value+=this.name+' '"/>
        <input type="button" name="post" value="Должность" onclick="document.form.attrs.value+=this.name+' '"/>
        <input type="button" name="time" value="Время" onclick="document.form.attrs.value+=this.name+' '"/>
        <input type="button" name="num" value="Порядковый номер" onclick="document.form.attrs.value+=this.name+' '"/>
        <input type="button" name="station" value="Станция" onclick="document.form.attrs.value+=this.name+' '"/>
        <input type="text" name="attrs"  />
    </p>
    <input type="submit" value="Создать" />
</form>
</body>
</html>